/* Coolors Exported Palette - coolors.co/f06543-e8e9eb-6290c3-313638-242f40 */

/* HSL */
$color1: hsla(12%, 85%, 60%, 1);
$color2: hsla(220%, 7%, 92%, 1);
$color3: hsla(212%, 45%, 57%, 1);
$color4: hsla(197%, 7%, 21%, 1);
$color5: hsla(216%, 28%, 20%, 1);

/* RGB */
$color1: rgba(240, 101, 67, 1);  // tomato // orange or red
$color2: rgba(232, 233, 235, 1); // platinum // silver or light gray
$color3: rgba(98, 144, 195, 1); // silver lake blue // light blue
$color4: rgba(49, 54, 56, 1); // onyx // very dark blue-green
$color5: rgba(36, 47, 64, 1); // yankees blue // dark navy